html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 0.2px;
}

h2.Heading {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: table;
  white-space: nowrap;
  overflow: hidden;
}

h2.Heading:before,
h2.Heading:after {
  border-top: 1px solid #aaa;
  content: "";
  display: table-cell;
  position: relative;
  top: 0.7rem;
}

h2.Heading:before {
  right: 0.2rem;
  width: 5%;
}

h2.Heading:after {
  left: 0.2rem;
  width: 80%;
}

.Product-image {
  width: 100%;
  display: block;
}

.Product-details {
  background-color: #ccc;
  padding: 0.5rem;
}

.Product-name {
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.Product-price-wishlist-and-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Product-price {
  font-family: 'Chivo','Open Sans','Helvetica Neue',Arial,sans-serif;
  font-size: 1.2rem;
}

.To-wishlist {
  margin-right: 0.5rem;
}

.Arrow {
  background: rgba(0, 0 ,0, 0.5) !important;
  border: none !important;
}

.Arrow-left {
  left: 0rem !important;
}

.Arrow-right {
  right: 0rem !important;
}